@import "tailwindcss";

@layer base {
	
  a {
		@apply hover:text-slate-400;
	}

  header, main, footer {
    @apply max-w-screen-md mx-auto px-4 sm:px-6 /*padding top-bottom:*/ py-14;
  }

  body {
    font-family: 'Courier New', monospace;
  }

  h1 {
    @apply text-3xl font-bold underline /*padding bottom:*/ mb-7;
  }

}